.mainDiv {
  height: 100vh;
  width: 100%;
  font-size: 15px;
  background: aqua;
}
.mainDiv h2 {
  padding: 15px 0;
  text-transform: uppercase;
}
.mainDiv p {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2% 5%;
}

.childDiv:nth-child(3n + 1) {
  background: rgba(0, 0, 255, 0.75);
}
.childDiv:nth-child(3n + 2) {
  background: rgba(255, 0, 0, 0.75);
}
.childDiv:nth-child(3n) {
  background: rgba(0, 255, 0, 0.75);
}

.childDiv {
  border: 1px solid #000;
  width: 30%;
  height: 180px;
  color: #ffffff;
  margin: 25px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: 0.5s;
}

.childDiv:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.childDiv > h3 {
  font-size: 28px;
  text-transform: capitalize;
}
.childDiv > h3 > span {
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
}

.childDiv > p {
  margin: 5px 0;
  font-size: 18px;
  text-transform: capitalize;
}
